.btn {
  margin: 20px;
  border: none;
  font-family: 'Noto Sans', sans-serif;
}

.btn-large {
  height: 45px;
  width: fit-content;
  font-size: large;
  font-weight: 600;
  padding: 0 7px;
}

.btn-black-shadow {
  box-shadow: 5px 5px rgb(20, 20, 20);
}

.btn-purple-hover:hover {
  background: blueviolet;
  color: white;
  box-shadow: 1px 1px 10px purple;
  transition: 0.4s;
}