.btn {
  margin: 20px;
  border: none;
  font-family: 'Noto Sans', sans-serif;
}

.btn-large {
  height: 45px;
  min-width: fit-content;
  font-size: large;
  font-weight: 600;
  padding: 0 7px;
}

.btn-black-shadow {
  box-shadow: 5px 5px rgb(20, 20, 20);
}

.btn-purple-hover:hover {
  background: #b50bbb;
  color: white;
  box-shadow: 1px 1px 20px purple;
  transition: 0.4s;
}

.btn-green-hover:hover {
  background: #36e630;
  color: white;
  box-shadow: 1px 1px 20px green;
  transition: 0.4s;
  cursor: pointer;
}

.btn-primary-hover:hover {
  background: rgb(91, 91, 252);
  color: white;
  box-shadow: 1px 1px 20px blue;
  transition: 0.4s;
  cursor: pointer;
}