.HomePage {
  color: white;
  font-family: 'Noto Sans', cursive;
}

.HomePage__header {
  margin: 0 10%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HomePage__header-h1 {
  font-size: 4rem;
  font-weight: 900;
}

.HomePage__header-p {
  line-height: 1.625;
  margin-top: 20px;
  letter-spacing: 0.8px;
}

.txt-linear-gradient-pink {
  background: -webkit-linear-gradient(#f1e9ef, #e00ce7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HomePage__header-img {
  height: 30%;
  z-index: -1;
}

.img1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.img2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

@media (max-width: 694px) {

  .img2,
  .img1 {
    display: none;
  }
}