.Navbar {
  width: 100%;
  position: fixed;
  margin-top: 2rem;
  color: white;
}

.Navbar__ul {
  width: 70%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  backdrop-filter: blur(2px) saturate(2);
  border-radius: 100px;
}

.Navbar__li {
  list-style-type: none;
  font-family: 'Noto Sans', sans-serif;
}